/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.maincontent {
  margin: 0 50px 0 50px;
}

.logonav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.shown_if_logged {
  display: none;
}

.log header {
  display: block;
}

.headband {
  width: 100%;
}

.log .logonav {
  margin: 70px 100px;
  width: 85%;
}

.log .headband {
  margin-left: -100px;
  margin-right: -100px;
  width: auto;
}

.log .shown_if_logged .headband {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.log .shown_if_logged {
  display: block;
}
.log .band {
  background-color: black;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  gap: 10px;
}

.log .hidden_if_logged {
  display: none;
}

.shown_if_logged_flex {
  display: none;
}

.log .shown_if_logged_flex {
  display: flex;
}

.log .projecttilte {
  display: flex;
  justify-content: center;
}

.log .projecttilte .modifier {
  margin-left: 20px;
  padding-top: 10px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

header a {
  text-decoration: none;
}

header a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 30px;
  cursor: pointer;
}

.logonav span {
  margin-top: 5px;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

#logoinstagram {
  width: 50%;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
  margin-bottom: 130px;
}
#introduction figure {
  /*flex: 1;*/
  width: 60%;
}
#introduction img {
  display: block;
  margin: auto;
  width: 70%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

/* Filtres */

.filterslist {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.filterslist button {
  background-color: white;
  color: #1d6154;
  padding: 10px 13px;
  border-radius: 30px;
  font-family: "Syne";
  font-size: 16px;
  border-color: #1d6154;
  cursor: pointer;
  border-width: 1px;
}

.filterslist .active {
  background-color: #1d6154;
  color: white;
}

#portfolio {
  padding: 0 60px;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery figcaption {
  margin-top: 4px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

footer nav li {
  font-size: 1em;
  font-size: smaller;
  font-weight: 100;
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.js-modal a {
  text-decoration: none;
}

.js-modal a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal1-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 630px;
  height: 688px;
  border-radius: 2%;
  padding: 30px;
}

#modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal1 {
  display: block;
}

.modal2 {
  display: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

#modal-returnbutton {
  border: none;
  background-color: white;
  align-self: flex-start;
  cursor: pointer;
}

.modal-form-category-go {
  background-color: #1d6154;
  color: white;
  padding: 10px 13px;
  border-radius: 30px;
  font-family: "Syne";
  font-size: 16px;
  border-color: grey;
  cursor: pointer;
  border-width: 1px;
  width: 60%;
  margin-top: auto;
  align-self: center;
}

#modal-close-button {
  border: none;
  background-color: white;
  align-self: flex-start;
  cursor: pointer;
}

.modal1-wrapper h3 {
  align-self: center;
  font-size: 30px;
  margin: 20px 0px 50px;
}

.modal-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  row-gap: 30px;

  padding-left: 13%;
  padding-right: 13%;
  overflow-y: auto;
}

.modal-gallery figure {
  flex: 0 0 calc(20% - 2%);
  box-sizing: border-box;
  height: fit-content;
}

.modal-gallery img {
  width: 100%;
  height: auto;
}

.modal-gallery figure .trashicon {
  background-color: black;
  padding: 5px;
  color: #fff;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-add-picture {
  padding-left: 13%;
  padding-right: 13%;
  height: 100%;
}

#modal-container-add-pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8f0f6;
  height: 45%;
  justify-content: center;
}

#modal-container-add-pic button {
  border-radius: 30px;
  width: 45%;
  height: 45px;
  margin-top: 15px;
  margin-bottom: 10px;
  border: none;
  background-color: #cbd7dc;
  cursor: pointer;
  position: relative;
}

#modal-container-add-pic i {
  font-size: 76px;
}

#modal-container-add-pic button p {
  z-index: 0;
  position: relative;
}

#modal-container-add-pic input {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#modal-container-add-pic button p {
  font-size: 17px;
  color: #29759e;
}

#modal-container-add-pic img {
  height: 100%;
  width: 33%;
}

#modal-bottom {
  margin-top: auto;
  padding-top: 40px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #326986;
  margin-left: 13%;
  margin-right: 13%;
}

.modal-sendbutton {
  align-self: center;
  background-color: #1d6154;
  color: white;
  padding: 10px 13px;
  border-radius: 30px;
  font-family: "Syne";
  font-size: 16px;
  border-color: #1d6154;
  cursor: pointer;
  border-width: 1px;
  width: 60%;
  margin-top: auto;
}

.modal-sendbutton {
  background-color: grey;
  color: white;
  padding: 10px 13px;
  border-radius: 30px;
  font-family: "Syne";
  font-size: 16px;
  border-color: #1d6154;
  cursor: pointer;
  border-width: 1px;
  width: 60%;
  margin-top: auto;
}

#buttontomodal2 {
  display: flex;
  justify-content: center;
  background-color: #1d6154;
  color: white;
  padding: 10px 13px;
  border-radius: 30px;
  font-family: "Syne";
  font-size: 16px;
  border-color: #1d6154;
  cursor: pointer;
  border-width: 1px;
  width: 60%;
  margin-top: auto;
}

#modal-form {
  display: flex;
  flex-direction: column;
  height: 46%;
  justify-content: space-around;
}

#modal-form input {
  height: 50px;
  border: 0px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: work sans;
  font-size: 15px;
  padding-left: 15px;
}
#modal-form select {
  height: 50px;
  width: 100%;
  border: 0px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  appearance: none;
  font-family: work sans;
  font-size: 15px;
  padding-left: 15px;
}

/* Page login*/

#maincontentlogin {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  margin: 35px 54px 0 54px;
}

#login {
  width: 35%;
  margin: 150px auto 400px auto;
}

#login > * {
  text-align: center;
}

#logo-login span {
  margin-top: 5px;
}

#loginheader {
  margin-top: 30px;
  margin-bottom: 30px;
}

#navlogin {
  font-weight: bold;
}

#login-insta {
  width: 50%;
}

#login h2 {
  margin-bottom: 20px;
  align-self: center;
}
#login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login .input {
  display: flex;
  flex-direction: column;
}
#login label {
  margin: 2em 0 1em 0;
  align-self: start;
}
#login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
